*           @udacity/active-public-content
*           @Nourhan-Saber/using the supporting materials/starter-code from Udacity as a reference through my learning journey,
following the best practices and scripting as much as possible to deploy the "Give Application Auto-Deploy Superpowers".